@font-face {
    font-family: 'BDZongYi';
    src: url('~@fonts/bdzyjt/BDZYJT.eot');
    src:
        url('~@fonts/bdzyjt/BDZYJT.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/bdzyjt/BDZYJT.woff2') format('woff2'),
        url('~@fonts/bdzyjt/BDZYJT.woff') format('woff'),
        url('~@fonts/bdzyjt/BDZYJT.ttf') format('truetype'),
        url('~@fonts/bdzyjt/BDZYJT.svg#~@fonts/bdzyjt/BDZYJT') format('svg');
    font-weight: normal;
    font-style: normal;
}
