.now {
    width: 172px;
    margin: 0 12px;
    text-align: center;
}

.switch-table {
    width: 220px;
    height: 60px;
    margin-left: 18px;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    align-items: center;
    .switch {
        flex: 1;
        padding-left: 50px;
        background: url(~@images/switch.png) left 8px center no-repeat;
        background-size: 34px 34px;
        border-right: 1px solid #08f0c9;
    }
    .close {
        padding: 0 8px;
    }
}

.header {
    .container {
        align-items: center;
        justify-content: space-between;
    }
    .wrapper {
        display: flex;
    }
}

.weather {
    display: flex;
    align-items: center;
    img {
        height: 20px;
        margin-right: 12px;
    }
}

.btn-search {
    width: 40px;
    height: 40px;
    background: #42dfff url(~@images/search.png) center no-repeat;
    background-size: 22px 22px;
    border-radius: 50%;
    flex-shrink: 0;
}

.searcher {
    display: flex;
    align-items: center;
    width: 230px;
    height: 60px;
    padding: 0 16px;
    input {
        flex: 1;
        margin-right: 16px;
    }
    .placeholder {
        position: absolute;
        left: 16px;
        flex: 1;
        cursor: text;
    }
    .btn-search {
        position: absolute;
        right: 16px;
    }
}
