.now {
    width: 172px;
    margin: 0 12px;
    text-align: center;
}

.switch-table {
    width: 220px;
    margin-left: 18px;
}

.header {
    .container {
        justify-content: space-between;
    }
    .wrapper {
        display: flex;
    }
}
