body {
    min-height: 100vh;
    min-width: 100vw;
    background: url(~@images/bg.jpg) center no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 20px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.header {
    height: 130px;
    padding: 30px 0 40px 0;
}

.menu {
    width: 60px;
    height: 60px;
    background: url(~@images/menu.png) center no-repeat;
    background-size: 100% 100%;
}

.logo {
    width: 290px;
    height: 36px;
    background: url(~@images/logo.png) center no-repeat;
    background-size: 100% 100%;
}

.bi-title {
    position: relative;
    width: 246px;
    line-height: 50px;
    padding-left: 18px;
    margin-bottom: 20px;
    &:before {
        position: absolute;
        content: '';
        background: #42dfff;
        height: 8px;
        width: 34px;
        left: 0;
        top: -5px;
    }
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.6;
        background-image: linear-gradient(
            270deg,
            rgba(66, 223, 255, 0) 0%,
            #42dfff 100%
        );
    }
}
