
// html{
//     min-height: 100vh;
// }
body {
    min-height: 100vh;
    min-width: 100vw;
    background: url(~@images/bg.jpg) center repeat;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 20px;
    overflow: auto;

    &.page-homeview-body {
        background-image: url(~@images/home-bg.jpg);
        background-size: cover;
    }

    &.page-stationview-body {
        background-image: url(~@images/station-bg.jpg);
        background-size: cover;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.group-fade-enter-active,
.group-fade-leave-active {
    transition: opacity 0.25s;
}

.group-fade-enter,
.group-fade-leave-to {
    opacity: 0;
}

.group-fade-enter-active {
    // transition-delay: .25s;
    display: none;
}

.menu-enter-active,
.menu-leave-active {
    transition: all 0.25s;
}

.menu-enter,
.menu-leave-to {
    transform: translate(-100%, 0);
    opacity: 0;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &>.container {
        flex: 1;
    }
}

.container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.header {
    height: 130px;
    padding: 30px 0 40px 0;
}

.menu {
    width: 60px;
    height: 60px;
    background: url(~@images/menu.png) center no-repeat;
    background-size: 100% 100%;
}

.logo {
    width: 290px;
    height: 36px;
    background: url(~@images/logo.png) center no-repeat;
    background-size: 100% 100%;
}

.bi-title {
    position: relative;
    width: 246px;
    line-height: 50px;
    padding-left: 18px;
    margin-bottom: 20px;

    &:before {
        position: absolute;
        content: '';
        background: #42dfff;
        height: 8px;
        width: 34px;
        left: 0;
        top: -5px;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.6;
        background-image:
 linear-gradient(270deg,rgba(66, 223, 255, 0) 0%,#42dfff 100%);
    }
}

.thin-border {
    position: relative;

    &:after {
        position: absolute;
        pointer-events: none;
        content: '';
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        transform-origin: left top;
        left: 0;
        top: 0;
    }

    &.border-left:after {
        border-left: 1px solid #39bdd9;
    }

    &.border-bottom:after {
        border-bottom: 1px solid #39bdd9;
    }

    &.border-top:after {
        border-top: 1px solid #39bdd9;
    }

    &.border-right:after {
        border-right: 1px solid #39bdd9;
    }

    &.border-around:after {
        border: 1px solid #39bdd9;
    }
}

// demo
img {
    pointer-events: none;
}

.scroll-table {
    .table-entity {
        width: 100%;
        overflow-x: scroll;
    }

    table {
        table-layout: fixed;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;

        td {
            padding: 0 20px;
        }
    }
}

.form {
    label {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }
}

main {
    .container {
        display: flex;
        // min-height: calc(100vh - 130px);
        .sidebar {
            min-height: 100%;
            width: 121px;
            font-size: 16px;
            background-color: #122836;
            padding: 50px 6px 0;
            .title {
                font-size: 20px;
                color: #42dfff;
            }
            .icon-home {
                display: inline-block;
                background-image: url('~@images/home.png');
                background-size: cover;
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
            a {
                display: inline-block;
                margin-top: 54px;
                color: fade(#d8d8d8, 50);
                cursor: pointer;
                &.active,
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .content {
            flex: 1;
            height: 100%;
            margin-left: 20px;
        }
        .filter-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            .btn-box{
                display: flex;
            }
            .search-btn {
                background-color: #42dfff;
                padding: 10px;
                height: 50px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 117px;
                letter-spacing: 8px;
                margin-left: 20px;
            }
            .icon-search {
                display: inline-block;
                background-image: url(~@images/search-white.png);
                background-size: cover;
                width: 26px;
                height: 26px;
            }
            .export-btn {
                width: 210px;
                height: 60px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-switch {
                    display: inline-block;
                    width: 44px;
                    height: 42px;
                    background: url(~@images/switch.png);
                    background-size: cover;
                    margin-right: 20px;
                }
            }
        }
    }
}